<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Palaver</title>

    @RenderSection("asyncScripts", required: false)

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.2.10/semantic.min.css"
              asp-fallback-href="~/lib/semantic/dist/semantic.min.css"
              asp-fallback-test-class="ui button" asp-fallback-test-property="cursor" asp-fallback-test-value="pointer" />
    </environment>

    @RenderSection("styles", required: false)

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">;
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
</head>
<body class="pushable">
    <div id="topMenu" class="ui top fixed inverted menu">
        <a class="item tablet mobile only" onclick="$('#threadList').sidebar('toggle');">
            <i class="content icon"></i>
        </a>
        <div id="mobileUnread" class="ui secondary button tablet mobile only" onclick="thread.goToNextUnread();"></div>
        <a class="header item tablet or lower media-query-hidden" href="~/">Palaver</a>
        <div class="right menu">
            <div class="ui right aligned category search item">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
                <div id="searchResults" class="results"></div>
            </div>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>

    @RenderBody()

    <script type="text/javascript">
        // jshint esversion:6
        const BASE_URL = "@Url.Content("~/")";
        const NOTIFICATION_ENABLED = true;
    </script>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semantic/dist/semantic.js"></script>
        <script src="~/js/util.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="//oss.maxcdn.com/semantic-ui/2.2.10/semantic.min.js"
                asp-fallback-src="~/lib/semantic/dist/semantic.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
