<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Palaver</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.2.10/semantic.min.css"
              asp-fallback-href="~/lib/semantic/dist/semantic.min.css"
              asp-fallback-test-class="ui button" asp-fallback-test-property="cursor" asp-fallback-test-value="pointer" />
    </environment>

    @RenderSection("styles", required: false)

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">;
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
</head>
<body>
    <div id="topMenu" class="ui fixed inverted main menu">
        <a class="header item" href="~/">Palaver</a>
        <div class="right menu">
            <div class="ui right aligned category search item">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search comments...">
                    <i class="search icon"></i>
                </div>
                <div id="searchResults" class="results"></div>
            </div>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>

    @RenderBody()

    <script type="text/javascript">
        // jshint esversion:6
        const BASE_URL = "@Url.Content("~/")";
    </script>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semantic/dist/semantic.js"></script>
        <script src="~/lib/sugar/dist/sugar.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="//oss.maxcdn.com/semantic-ui/2.2.10/semantic.min.js"
                asp-fallback-src="~/lib/semantic/dist/semantic.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/sugar/2.0.4/sugar.min.js"
                integrity="sha256-c7FnJVJH6WwxSjY5uCP8SSEoX6ySv4ueEAf556KL2Gk=" crossorigin="anonymous"
                asp-fallback-src="~/lib/sugar/dist/sugar.min.js"
                asp-fallback-test="Sugar">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
