@using System.Collections.Generic
@using PalaverCore.Models.ThreadViewModels
@using PalaverCore.Services
@model IEnumerable<ListViewModel>

@{
    ViewData["Title"] = "Palaver";
    int? threadId = (int?)ViewData["threadId"];
    int? commentId = (int?)ViewData["commentId"];
}

@section styles
{
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/theme/toastui-editor-dark.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css" />
}

@section asyncScripts
{
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async src="//wow.zamimg.com/widgets/power.js" charset="utf-8"></script>

    <!-- Mustache templates for formatting new threads & comments -->
    <script async src="~/templates/partials/threadListItem.mustache" type="text/html" name="threadListItem" data-istemplate="true"></script>
    <script async src="~/templates/partials/comment.mustache" type="text/html" name="comment" data-istemplate="true"></script>
    <script async src="~/templates/partials/editor.mustache" type="text/html" name="editor" data-istemplate="true"></script>
    <script async src="~/templates/thread.mustache" type="text/html" name="thread" data-istemplate="true"></script>
    <script async src="~/templates/commentNotification.mustache" type="text/html" name="commentNotification" data-istemplate="true"></script>
    <script async src="~/templates/threadNotification.mustache" type="text/html" name="threadNotification" data-istemplate="true"></script>
    <script async src="~/templates/threadList.mustache" type="text/html" name="threadList" data-istemplate="true"></script>
}

@section scripts
{
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/mustache.js/mustache.min.js"></script>
    <script src="~/lib/gifffer/build/gifffer.min.js"></script>
    <script src="~/lib/jquery-timeago/jquery.timeago.min.js"></script>
    <script src="~/lib/blazy/blazy.min.js"></script>
    <script src="~/js/editor.js" asp-append-version="true"></script>
    <script src="~/js/thread.js" asp-append-version="true"></script>
    <script src="~/js/templateRenderer.js" asp-append-version="true"></script>
    <script type="text/javascript">
var thread = new Thread(@(threadId != null ? threadId.ToString() : "null"),
    @(commentId != null ? commentId.ToString() : "null"),
    @ViewData["userId"]);
    </script>
}

@Html.Raw(ViewData["ThreadListViewHtml"])
@Html.Raw(ViewData["ThreadViewHtml"])

<div id="reconnectingModal" class="ui modal" role="dialog">
    <div class="content">
        Connection lost, reconnecting...
    </div>
    <div class="actions">
        <div class="ui cancel button" onclick="location.reload()">Reload</div>
    </div>
</div>
