@using System.Collections.Generic
@using Palaver.Models.ThreadViewModels
@using Palaver.Helpers
@model IEnumerable<ListViewModel>

@{
    ViewData["Title"] = "Palaver";
    SelectedViewModel thread = (SelectedViewModel)ViewData["SelectedThread"];
    int? threadId = (int?)ViewData["threadId"];
    int? commentId = (int?)ViewData["commentId"];
}

@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/summernote/dist/summernote.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css"
            asp-fallback-href="~/lib/summernote/dist/summernote.css"
            asp-fallback-test-class="note-editor" asp-fallback-test-property="position" asp-fallback-test-value="relative" />
    </environment>
}
@section Scripts
{
    <script type="text/javascript">
        var _threadId = @(threadId != null ? threadId.ToString() : "null");
        var _commentId = @(commentId != null ? commentId.ToString() : "null");
        var _userId = @ViewData["userId"];
    </script>
    <environment names="Development">
        <script src="~/lib/signalr/jquery.signalR.js"></script>
        <script src="~/signalr/hubs" asp-append-version="true"></script>
        <script src="~/lib/summernote/dist/summernote.js"></script>
        <script src="~/lib/mustache.js/mustache.js"></script>
        <script src="~/js/thread.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/signalr.js/2.2.1/jquery.signalR.min.js"
            asp-fallback-src="~/lib/signalr/jquery.signalR.js"
            asp-fallback-test="$.signalR">
        </script>
        <script src="~/signalr/hubs"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"
            asp-fallback-src="~/lib/summernote/dist/summernote.min.js"
            asp-fallback-test="summernote">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"
            asp-fallback-src="~/lib/mustache.js/mustache.js"
            asp-fallback-test="Mustache">
        </script>
        <script src="~/js/thread.min.js" asp-append-version="true"></script>
    </environment>
    <!-- Mustache templates to be loaded via AJAX later for formatting new threads & comments -->
    <script src="~/templates/partials/comment.mustache" type="x-mustache-template" name="comment"></script>
    <script src="~/templates/partials/threadListItem.mustache" type="x-mustache-template" name="threadListItem"></script>
    <script src="~/templates/thread.mustache" type="x-mustache-template" name="thread"></script>
    <script src="~/templates/commentNotification.mustache" type="x-mustache-template" name="commentNotification"></script>
    <script src="~/templates/threadNotification.mustache" type="x-mustache-template" name="threadNotification"></script>
    <script src="~/templates/editor.mustache" type="x-mustache-template" name="editor"></script>
}

        <div id="bodyRow" class="row row-offcanvas row-offcanvas-left body-content">
            @Html.Raw(CustomHtmlHelper.RenderThreadListFromTemplate(Model))

            @Html.Raw(CustomHtmlHelper.RenderThreadFromTemplate(thread))
        </div><!--/row-->
        <div id="reconnectingModal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    Connection lost, reconnecting...
                </div>
            </div>
        </div>
        <div id="replyFocusButtons" class="reply-btns btn-group btn-group-xs hide">
            <button type="button" class="btn btn-default" onclick="writeDirectReply(this.parentNode.parentNode)"><span class="glyphicon glyphicon-console" /></button>
            <button type="button" class="btn btn-default" onclick="writeIndentedReply(this.parentNode.parentNode)"><span class="glyphicon glyphicon-share-alt flip" /></button>
        </div>
        <div id="replyHoverButtons" class="reply-btns btn-group btn-group-xs hide">
            <button type="button" class="btn btn-default" onclick="writeDirectReply(this.parentNode.parentNode)"><span class="glyphicon glyphicon-console" /></button>
            <button type="button" class="btn btn-default" onclick="writeIndentedReply(this.parentNode.parentNode)"><span class="glyphicon glyphicon-share-alt flip" /></button>
        </div>
