@using System.Collections.Generic
@using Palaver.Models.ThreadViewModels
@using Palaver.Helpers
@model IEnumerable<ListViewModel>

@{
    ViewData["Title"] = "Palaver";
    SelectedViewModel thread = (SelectedViewModel)ViewData["SelectedThread"];
    int? threadId = (int?)ViewData["threadId"];
    int? commentId = (int?)ViewData["commentId"];
}

@section Styles
{
    <environment names="Development">
    </environment>
    <environment names="Staging,Production">
    </environment>
}
@section Scripts
{
    <environment names="Development">
        <script src="~/lib/signalr/jquery.signalR.js"></script>
        <script src="~/signalr/hubs" asp-append-version="true"></script>
        <script src="~/lib/mustache.js/mustache.js"></script>
        <script src="~/js/ckeditor/ckeditor.js"></script>
        <script src="~/js/thread.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/signalr.js/2.2.1/jquery.signalR.min.js"
            asp-fallback-src="~/lib/signalr/jquery.signalR.js"
            asp-fallback-test="$.signalR">
        </script>
        <script src="~/signalr/hubs"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"
            asp-fallback-src="~/lib/mustache.js/mustache.js"
            asp-fallback-test="Mustache">
        </script>
        <script src="~/js/ckeditor/ckeditor.js"></script>
        <script src="~/js/thread.min.js" asp-append-version="true"></script>
    </environment>
    <!-- Mustache templates to be loaded via AJAX later for formatting new threads & comments -->
    <script src="~/templates/partials/comment.mustache" type="x-mustache-template" name="comment"></script>
    <script src="~/templates/partials/threadListItem.mustache" type="x-mustache-template" name="threadListItem"></script>
    <script src="~/templates/partials/editor.mustache" type="x-mustache-template" name="editor"></script>
    <script src="~/templates/threadList.mustache" type="x-mustache-template" name="threadList"></script>
    <script src="~/templates/thread.mustache" type="x-mustache-template" name="thread"></script>
    <script src="~/templates/commentNotification.mustache" type="x-mustache-template" name="commentNotification"></script>
    <script src="~/templates/threadNotification.mustache" type="x-mustache-template" name="threadNotification"></script>
    <script type="text/javascript">
Sugar.extend();

var thread = new Thread(@(threadId != null ? threadId.ToString() : "null"),
    @(commentId != null ? commentId.ToString() : "null"),
    @ViewData["userId"]);
    </script>
}

@Html.Raw(CustomHtmlHelper.RenderThreadListFromTemplate(Model))

@Html.Raw(CustomHtmlHelper.RenderThreadFromTemplate(thread))

<div id="reconnectingModal" class="ui modal" role="dialog">
    <div class="content">
        Connection lost, reconnecting...
    </div>
    <div class="actions">
        <div class="ui cancel button" onclick="location.reload()">Reload</div>
    </div>
</div>
